// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
	background-color:CCFFFF;
}
h1{
	color:Pink;
	text-align: center;
	font-family:Courier New;
}

p{
	color:Pink;
	text-align:left;
}





